@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
/* GENERAL */
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html{
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img{
  display: block;
  height: auto;
}
body{
  font-family: "Poppins", "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container{
  max-width: 1150px; 
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.site-header-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header-innere{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo{
  padding: 55px 30px 0 0 ;
}
.sitenav-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}
.sitenav-item{
  padding: 58px 15px 0 15px;

}
.sitenav-link{
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #9E9AA8;
}
.sitenav-link:hover{
  color: #34313D;
}
.sign-up-wrapper{
  padding: 58px 0 0 0;
}
.login{
  padding-right: 37px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #9E9AA8;
  text-decoration: none;
}
.sign-up{
  padding: 9px 24px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  background: #2BD0D0;
  border-radius: 28px;
}
.sign-up:hover{
  background: #9AE3E3;
}
.hero{
  position: relative;
  margin-top: 20px;
  background-color: #FFFFFF;
  background-image: url("../images/hero-bg.svg");
  background-size: 733px 482px;
  background-repeat: no-repeat;
  background-position: calc(50% + 450px) calc(50% - 20px);
}
.hero-info-wrapper{
  padding-top: 146px;
  width: 565px;
}
.hero-title{
  margin: 0;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  color: #34313D;
}
.hero-info-wrapper p{
  padding-top: 5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #9E9AA8;
}
.hero-info-wrapper a{
  display: inline-block;
  margin-top: 52px;
  margin-bottom: 222px;
  padding: 14px 40px;
  background: #2BD0D0;
  border-radius: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: #FFFFFF;
}
.hero-info-wrapper a:hover{
  background: #9AE3E3;
}
.form-input{
  position: absolute;
  bottom: -12%;
  left: 13%;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-image: url("../images/form-bg.jpg");  
  background-size: 100%;
  background-position: center; 
  padding: 30px 64px;
}
.invalid{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  padding-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.109091px;
  color: #F46363;
  opacity: 0;
}
.input-url{
  width: 769px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #34313D;
  border-radius: 10px;
  margin-top: 25px;
  padding: 14px 32px;
  border: 3px solid transparent;
}
.input-url:not(:-moz-placeholder-shown):not(:focus):invalid ~ .invalid{
  opacity: 1;
}
.input-url:not(:-ms-input-placeholder):not(:focus):invalid ~ .invalid{
  opacity: 1;
}
.input-url:not(:placeholder-shown):not(:focus):invalid ~ .invalid{
  opacity: 1;
}
.input-url:not(:-moz-placeholder-shown):not(:focus):invalid{
  border: 3px solid #F46363;
}
.input-url:not(:-ms-input-placeholder):not(:focus):invalid{
  border: 3px solid #F46363;
}
.input-url:not(:placeholder-shown):not(:focus):invalid{
  border: 3px solid #F46363;
}
.input-url::-webkit-input-placeholder{
  background-color: #fff;
}
.input-url::-moz-placeholder{
  background-color: #fff;
}
.input-url:-ms-input-placeholder{
  background-color: #fff;
}
.input-url::-ms-input-placeholder{
  background-color: #fff;
}
.input-url::placeholder{
  background-color: #fff;
}
.btn-submit{
  margin-left: 24px;
  padding: 18px 40px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  background: #2BD0D0;
  border-radius: 10px;
}
.btn-submit:hover{
  background: #9AE3E3;
}
.statistics{
  height:909px;
  background: #F2F2F2;
}
.text-wrapper{
  padding-top: 204px;
}
.statistics-title{
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #34313D;
}
.statistics-text-wrapper{
  Width:540px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
}
.text-wrapper p{
  padding-bottom: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.122727px;
  color: #9E9AA8;
}
.statistics-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px;
  background-image: url("../images/Rectangle.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}
.statistics-item{
  position: relative;
  padding: 0 32px 41px 32px;
  width: 350px; 
  height: 267px;
  background: #FFFFFF;
  border-radius: 5px;
  list-style: none;
}
.statistics-item:nth-child(2){
  position: relative;
  top: 44px;
}
.statistics-item:nth-child(3){
  position: relative;
  top: 88px;
}
.statistics-item:nth-child(1)::before{
  position: absolute;
  top: -44px;
  content: "";
  width: 88px;
  height: 88px;
  display: inline-block;
  background-image: url("../images/progres.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.statistics-item:nth-child(2)::before{
  position: absolute;
  top: -44px;
  content: "";
  width: 88px;
  height: 88px;
  display: inline-block;
  background-image: url("../images/point.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.statistics-item:nth-child(3)::before{
  position: absolute;
  top: -44px;
  content: "";
  width: 88px;
  height: 88px;
  display: inline-block;
  background-image: url("../images/pin.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.statistics-item h3{
  padding-top: 77px;
  font-size: 22px;
  line-height: 33px;
  color: #34313D;
}
.statistics-item p{
  padding-top: 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #9E9AA8;
}
article{
  width: 100%;
  background-image: url("../images/article.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.article-title {
  margin: 0;
  padding-top: 57px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #FFFFFF;
}
.btn-get-started{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 56px;
}
.article-wrapper a{
  display: inline-block;
  margin-top: 46px ;
  padding: 14px 40px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  background: #2BD0D0;
  border-radius: 28px;
}
.article-wrapper a:hover{
  background: #9AE3E3;
}
footer{
  background: #232127;
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-logo {
  padding: 71px 261px 206px  0;
}
.site-footer span{
  display: inline-block;
  padding-top: 72px;
  padding-bottom: 11px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
}
.footer-list {
  list-style: none;
}
.footer-item {
  padding-right: 78px;

}
.footer-link {
  display: inline-block;
  padding: 11px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.234375px;
  color: #BFBFBF;
}
.footer-link:hover{
  color: #2BD0D0;
}
.social-list {
  padding-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.social-item {
  padding-right: 24px;
}
.social-link{
  color: #fff;
}
.social-link:hover{
  color: #2BD0D0;
}